<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLq66sy_D39pa8Jnv1qu9vl_4uiFJOIfA</string>
	<key>GCM_SENDER_ID</key>
	<string>1021942959454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.donation2</string>
	<key>PROJECT_ID</key>
	<string>donation-d2e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-d2e8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021942959454:ios:67d642395da7f33f6913cf</string>
</dict>
</plist>